.site-title,
.site-description{
    display: none;
}

.dados{
    text-align: right;
}

#count-tracking{
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-top: 40px;;
}

#count-tracking ul{
    padding: 0;
}

#count-tracking li{
    display: inline-block;
    margin-right: 10px;
    line-height: 1em;
    vertical-align: top;
}

#count-tracking li:nth-child(3){
    margin-right: 0;
}

#count-tracking li.ultima-atualizacao{
    margin-right: 0;
    margin-top: -5px;
    display: block;
    font-size: 10px;
}

#count-tracking li span{
    background-color: #852024;
    border-radius: 3px;
    padding: 3px 5px;
    color: #FFF;
}

.mg-head-detail{
    display: none;
}

.mg-latest-news .info-left{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0 0 0 15px;
    transform: translate(0, -50%);
}

.mg-latest-news .info-left{
    height: 40px;
    line-height: 40px;
    background-color: #FFF;
}

.mg-latest-news .info-left li{
    display: block;
}

.facebook,
.instagram{
    background-color: transparent;
}

header .mg-social{
    padding-right: 0;
    margin-top: 8px;
    height: 35px;
}

@media all and (max-width: 767px){
    #count-tracking{
        margin-top: 15px;
        text-align: center;
        margin-right: 0px;
    }
}